# ====================================
# Environment Configuration
# ====================================
ENV=development

# ====================================
# Application Configuration
# ====================================
DEBUG=False
APP_NAME="AKO PYTHON TANGRAM"
APP_DESCRIPTION="A TANGRAM PROJECT"

# ====================================
# Web Server Configuration
# ====================================
# CORS settings
CORS_ENABLE=True
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

# Compression settings
GZIP_ENABLED=true
GZIP_MINIMUM_SIZE=1000

